# Copyright (c) 2009-2012, 2014-2018, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on init && property:ro.boot.hardware.sku=XT1955-7
    setprop ro.boot.product.hardware.sku nfc
    setprop ro.radio.imei.sv 33
    setprop ro.telephony.default_network "10,10"
    setprop ro.vendor.telephony.default_network "10,10"

on boot && property:ro.boot.product.hardware.sku=nfc
    start nfc_hal_service

on property:ro.boot.hardware.sku=XT1955-1
    setprop ro.radio.imei.sv 33
    setprop ro.telephony.default_network "10,10"
    setprop ro.vendor.telephony.default_network "10,10"

on property:ro.boot.hardware.sku=XT1955-2
    setprop ro.radio.imei.sv 33
    setprop ro.telephony.default_network "10,10"
    setprop ro.vendor.telephony.default_network "10,10"

on property:ro.boot.hardware.sku=XT1955-4
    setprop ro.radio.imei.sv 33
    setprop ro.telephony.default_network "10,10"
    setprop ro.vendor.telephony.default_network "10,10"

on property:ro.boot.hardware.sku=XT1955-5
    setprop ro.radio.imei.sv 37
    setprop ro.telephony.default_network "10,10"
    setprop ro.vendor.telephony.default_network "10,10"

# VZW
on property:ro.boot.hardware.sku=XT1955-6
    setprop ro.radio.imei.sv 10
    setprop ro.telephony.default_network 10
    setprop ro.vendor.telephony.default_network 10
    setprop persist.radio.plmn_name_cmp 1
    setprop persist.vendor.radio.customer_mbns "vzw_usa.mbn;super.mbn;vzw_visible.mbn"

service nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service.st
    interface android.hardware.nfc@1.2::INfc default
    class hal
    user nfc
    group nfc
    disabled
