# Copyright (c) 2009-2012, 2014-2018, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on post-fs
    umount /oem

on init
    mount none /dev/null /vendor/bin/init.mmi.hab.sh bind

    # Begin Changes for Prima WLAN
    mount none /dev/null /vendor/lib/modules/pronto_wlan.ko bind
    mount none /system/bin/hw/android.hardware.wifi@1.0-service /vendor/bin/hw/android.hardware.wifi@1.0-service bind
    mount none /system/bin/hw/hostapd /vendor/bin/hw/hostapd bind
    mount none /system/bin/hw/wpa_supplicant /vendor/bin/hw/wpa_supplicant bind
    mount none /system/lib/libcld80211.so /vendor/lib/libcld80211.so bind
    mount none /system/lib/libwpa_client /vendor/lib/libwpa_client bind
    mount none /system/lib64/libcld80211.so /vendor/lib64/libcld80211.so bind
    mount none /system/lib64/libwifi-hal.so /vendor/lib64/libwifi-hal.so bind
    mount none /system/lib64/libwpa_client /vendor/lib64/libwpa_client bind

    # Fix for Bluetooh Audio
    mount none /system/etc/audio_effects.xml /vendor/etc/audio_effects.xml bind

    # Fix for LiveDisplay color inversion with hal_Adobe
    mount none /system/etc/qdcm_calib_data_mipi_mot_vid_csot_720p_622.xml /vendor/etc/qdcm_calib_data_mipi_mot_vid_csot_720p_622.xml bind
    mount none /system/etc/qdcm_calib_data_mipi_mot_vid_ofilm_720p_622.xml /vendor/etc/qdcm_calib_data_mipi_mot_vid_ofilm_720p_622.xml bind
    mount none /system/etc/qdcm_calib_data_mipi_mot_vid_tianma_720p_622.xml /vendor/etc/qdcm_calib_data_mipi_mot_vid_tianma_720p_622.xml bind

    # Mix device-specific information into the entropy pool
    copy /proc/cmdline /dev/urandom
    copy /default.prop /dev/urandom

    # RIL permissions fix
    chmod 0644 /proc/cmdline
    chown root radio /proc/cmdline

on boot
    chown wifi wifi /sys/module/wlan/parameters/fwpath